/* *********************************************************************************************************************
 * Main container for all
 */
.container {padding-left:20px; padding-right:20px;}
.container > .row {margin-left:auto; margin-right:auto; padding:0; max-width: 1140px;}
.row:before, .row:after {content: " "; /* 1 */ display: table; /* 2 */}
.row:after {clear: both;}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.row {*zoom: 1;}

/* *********************************************************************************************************************
 * Common columns definitions
 */

[class*="col"] {margin-right:2.64%; float: left; min-height:1px;}
.last, .noGridMargin {margin-right:0!important;}

.col1	{	width:1.63666666667% }
.col2	{	width:5.91333333333% }
.col3	{	width:10.19%	}
.col4	{	width:14.4666666667% }
.col5	{	width:18.7433333333% }
.col6	{	width:23.02%	}
.col7	{	width:27.2966666667% }
.col8	{	width:31.5733333333% }
.col9	{	width:35.85%	}
.col10	{	width:40.1266666667% }
.col11	{	width:44.4033333333% }
.col12	{	width:48.68%	}
.col13	{	width:52.9566666667% }
.col14	{	width:57.2333333333% }
.col15	{	width:61.51%	}
.col16	{	width:65.7866666667% }
.col17	{	width:70.0633333333% }
.col18	{	width:74.34% }
.col19	{	width:78.6166666667% }
.col20	{	width:82.8933333333% }
.col21	{	width:87.17%	}
.col22	{	width: 91.4466666667%	}
.col23	{	width:95.7233333333% }
.col24	{	width:100%; margin-right:0;	}

		
.pushcol1	{	margin-left:4.276666667%	}
.pushcol2	{	margin-left:8.553333333%	}
.pushcol3	{	margin-left:12.83%	}
.pushcol4	{	margin-left:17.10666667%	}
.pushcol5	{	margin-left:21.38333333%	}
.pushcol6	{	margin-left:25.66%	}
.pushcol7	{	margin-left:29.93666667%	}
.pushcol8	{	margin-left:34.21333333%	}
.pushcol9	{	margin-left:38.49%	}
.pushcol10	{	margin-left:42.76666667%	}
.pushcol11	{	margin-left:47.04333333%	}
.pushcol12	{	margin-left:51.32%	}
.pushcol13	{	margin-left:55.59666667%	}
.pushcol14	{	margin-left:59.87333333%	}
.pushcol15	{	margin-left:64.15%	}
.pushcol16	{	margin-left:68.42666667%	}
.pushcol17	{	margin-left:72.70333333%	}
.pushcol18	{	margin-left:76.98%	}
.pushcol19	{	margin-left:81.25666667%	}
.pushcol20	{	margin-left:85.53333333%	}
.pushcol21	{	margin-left:89.81%	}
.pushcol22	{	margin-left:94.08666667%	}
.pushcol23	{	margin-left:98.36333333%	}
		


[class*="col"] img {max-width:100%; height: auto; display: block;}

/* *********************************************************************************************************************/
@media all and (min-width: 1024px) {

}

/* *********************************************************************************************************************
 * Small devices
 */
@media all and (max-width: 900px) {
	.container {padding-left:0; padding-right:0;}
	.container .row  [class*="col"] {width:auto; float: none; margin-right:0;}
	.container > .row > [class*="col"] {padding-left:20px; padding-right:20px; margin-right:0;}

	[class*="pushcol"] {margin-left:0;}
	
	.module > .row > [class*="col"] {margin-bottom:40px;}
	.module > .row:last-child > [class*="col"]:last-child {margin-bottom:0;}
	
	/*.module > .row > [class*="col"]:last-child {margin-bottom:0;}*/
}