@-ms-viewport {width: device-width;}
.hidden { display: none;visibility: hidden;}
.visible-phone {display: none !important;}
.visible-tablet {display: none !important;}
.hidden-desktop {display: none !important;}
.visible-desktop {display: inherit !important;}

@media (min-width:901px) and (max-width: 1280px) {
	/* = Modules
	===================================================================*/
	/* Hero
	---------------------------*/
	
	#hero > .row > * {padding: 2em 20px; margin:0;}
	
	#hero.register .row > * {padding:0; margin:0;}
	#hero.register .text {padding:1.5em 0 1.5em 1.5em;}
	#hero.register .image {margin-right:0;}
}

/* Large desktop */
@media (min-width: 1200px) {
	
	
}

@media (min-width: 980px) and (max-width: 1140px) {
	body {font-size:0.85em;}

}
/* Portrait tablet to landscape and desktop */
@media (min-width: 901px) and (max-width: 979px) {
	
	body {font-size:0.8em;}
	

	/* Header
	---------------------------*/	
	header#mainHeader .pushcol2 {margin-left:9.106667%;}
	header#mainHeader .col3 {width: 27.02%;}

}
 
@media (min-width: 901px) {
	/* Navigation
	---------------------------*/	
	nav#mainNav {display:block!important;}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 900px) {
	/* = Global Styles
	===================================================================*/
	body {font-size:0.88em; padding-top:52px;}
	
	.hidden-desktop {display: inherit !important;}
	.visible-desktop {display: none !important;}
  .visible-tablet {display: inherit !important;}
  .hidden-tablet {display: none !important;}
	
	/* Header
	---------------------------*/	
	header#mainHeader {position:relative; margin-bottom:22px;}
	header#mainHeader .logo {margin-bottom:0;}
	header#mainHeader .accountBox {position:absolute; top:-52px; height:52px; left:0; right:0; background-color:#fff;}
	header#mainHeader .accountBox .proResources {position:relative; padding: 1em; float:left; width:215px; background-color:#fff; height:52px;}
	header#mainHeader .accountBox .proResources i {margin-left:10px; height:14px; width:8px; background-position:-82px 0; position:relative; top:1px; right:0;} /* Rotate arrow image */
	header#mainHeader .accountBox ul {width:200px; background-color:transparent; position:absolute; right:75px; }
	header#mainHeader .accountBox ul li {padding:0; height:52px;}
	header#mainHeader .accountBox ul li a {padding: 1.2em 1em;}
	header#mainHeader .accountBox ul .register {border-right:0;}
	
	header#mainHeader .logo {margin-top:25px; width:48%; top:0;}
	
	header#mainHeader .adviceline {margin-top:2.4em; width:42%; position:absolute; top:0; right:20px;}
	
	header#mainHeader .adviceline {}
	header#mainHeader .adviceline .image {position:absolute; left:0; top:0;}
	header#mainHeader .adviceline img {width:35px; height:auto;}
	header#mainHeader .adviceline .text {width:100%; padding-left:45px;}
	header#mainHeader .adviceline .text p {font-size:12px; margin-bottom:3px;}
	header#mainHeader .adviceline .text .tel {font-size:15px;}
	
	/* Navigation
	---------------------------*/	
	nav#mainNav {display:none; position:absolute; top:52px; left:0; right:0; z-index:9999;-webkit-box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.5); -moz-box-shadow:0px 12px 28px rgba(0, 0, 0, 0.5); box-shadow:0px 12px 28px rgba(0, 0, 0, 0.5);}
	nav#mainNav .topLevel {margin:0 -20px;}
	nav#mainNav .topLevel > li.home span {display:inline;}
	nav#mainNav .topLevel > li {width:100%!important; float:none!important; border-bottom:1px #fff solid;}
	nav#mainNav .topLevel > li > a {height:auto!important; padding:1em 20px!important; margin-left:0; -webkit-border-top-right-radius: 0; -moz-border-radius-topright: 0x; border-top-right-radius: 0}
	nav#mainNav .topLevel > li i, nav#mainNav .topLevel > li ul {display:none!important;}
	
	
	/* = Modules
	===================================================================*/
	
	/* Hero
	---------------------------*/
	
	#hero > .row > * {padding:1.5em 20px; margin:0;}
	
	#hero.register .row > * {padding-left:0; padding-right:0; }
	#hero.register .text {margin-top:13em; padding:0 20px;}	
	#hero.register .image {height:13em; left:0;}
	
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
		/* = Global Styles
		===================================================================*/
		body {padding-top:0}
	
		.hidden-desktop {display: inherit !important;}
		.visible-desktop {display: none !important;}
		.visible-phone {display: inherit !important;}
		.hidden-phone {display: none !important;}
		
		/* Header
		---------------------------*/		
		header .adviceline {padding: 7px 20px; margin-top:0; height:52px;}
		header .adviceline .image {width:45px;}
		header .adviceline .text {float:left; width:145px;}
		header .adviceline .text p {margin:3px 0;}
		header .adviceline .text .tel {font-size:15px;}
		header .adviceline img {height:37px; width:auto;}
}