/* = Global Styles
===================================================================*/

@font-face {
    font-family: 'VAG_Rounded_Light';
    src: url('../fonts/VAG-Rounded-Light.eot');
    src: url('../fonts/VAG-Rounded-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VAG-Rounded-Light.woff') format('woff'),
         url('../fonts/VAG-Rounded-Light.ttf') format('truetype'),
         url('../fonts/VAG-Rounded-Light.svg#VAG_Rounded_Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VAG_Rounded_Bold';
    src: url('../fonts/VAG-Rounded-Bold.eot');
    src: url('../fonts/VAG-Rounded-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VAG-Rounded-Bold.woff') format('woff'),
         url('../fonts/VAG-Rounded-Bold.ttf') format('truetype'),
         url('../fonts/VAG-Rounded-Bold.svg#VAG_Rounded_Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}



/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    /*font-size: 100%;  1 */
    /*-webkit-text-size-adjust: 100%;  2 */
    /* -ms-text-size-adjust: 100%; 2 */
}



body {-webkit-font-smoothing: antialiased; font-size: 1em; /*16px*/ line-height: 1.5em; font-family:"VAG_Rounded_Light", Verdana, sans-serif; font-weight:100; font-style:normal; color:#333333; background-color:#f1efea;}

h1,h2,h3,h4,h5,h6,p {font-family: inherit; font-size: inherit;}	

h1 {font-size:2.250em; line-height:1.15em; margin: 0 0 1.5em 0;} /*36px*/
h2 {font-size:1.750em; line-height:1.2em; margin: 0 0 1em 0;}	/*28px*/ 
h3 {font-size:1.375em; line-height:1.2em; margin: 0 0 1.5em 0}	/*22px*/
h4 {font-size:1.125em; line-height:1.3em;}	/*18px*/
h5 {}
h6 {font-size:11px; font-family:"open_sansregular", Verdana, sans-serif; font-weight:600; text-transform: uppercase; margin:0 0 1em 0; color:#707271; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color:#333333;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {color:#646766;}

h2.large {font-size:2.250em; margin-bottom:0.8em;}
h2.large a {color:#5a5a5a;}
.hover:hover h2 a {color:#e4101c;}

h3 strong {font-family:"VAG_Rounded_Bold", Verdana, sans-serif; font-weight:400; font-style:normal;}

.center-text {text-align:center;}
.right-text {text-align:right;}

a {color:#e4101c; text-decoration:none;}
a:hover {color:#646766;}
a:active {color:#70c2b5;}

.pdfDownload {position:relative; margin-top:2em; padding-left:43px; min-height:35px; font-family:"open_sansregular", Verdana, sans-serif; font-size:0.875em; line-height:1.3em; display:inline-block; *display:inline; zoom:1;}
.pdfDownload i {position:absolute; left:0; top:0;}
.pdfDownload small {display:block; color:#666666; font-size:12px;}

p {}

strong {}

ul {}
ul li {}
ol li {}

ul.iconsLeft li {position:relative; padding-left:26px; margin-bottom:0.7em; list-style:none; font-family:"open_sansregular", Verdana, sans-serif; font-weight:100;}
ul.iconsLeft li i {position:absolute; left:0; top:6px;}

hr {}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote.large {}
blockquote.large p {color:#707271; font-size:1.375em; line-height:1.2em; margin-bottom:0.7em;}

hr {margin-bottom:1.8em; height:4px; border:none; position:relative;}
hr:before {display:block; content: ""; background-image:url('../images/iconSprite.png'); height:15px; width:31px; position:absolute; left:15px; top:0;}

hr.red {background-color:#db1e27;}
hr.red:before {background-position:-146px -32px;}
hr.grey {background-color:#d2ccbe;}
hr.grey:before {background-position:-146px -55px;}

/*Padding */
.padding50 {padding:2.500em;}
.padding40 {padding:2.500em;}
.padding30 {padding:1.875em;}
.padding20 {padding:1.250em;}

/* Margin */
[class*="margin"][class*="T60"] {margin-top:3.750em;}
[class*="margin"][class*="T40"] {margin-top:2.500em;}
[class*="margin"][class*="T35"] {margin-top:2.188em;}
[class*="margin"][class*="T30"] {margin-top:1.875em;}
[class*="margin"][class*="T25"] {margin-top:1.563em;}
[class*="margin"][class*="T20"] {margin-top:1.250em;}
[class*="margin"][class*="T15"] {margin-top:0.938em;}
[class*="margin"][class*="T10"] {margin-top:0.625em;}
[class*="margin"][class*="T05"] {margin-top:0.313em;}

[class*="margin"][class*="B60"] {margin-bottom:3.750em;}
[class*="margin"][class*="B35"] {margin-bottom:2.188em;}
[class*="margin"][class*="B30"] {margin-bottom:1.875em;}
[class*="margin"][class*="B25"] {margin-bottom:1.563em;}
[class*="margin"][class*="B20"] {margin-bottom:1.250em;}
[class*="margin"][class*="B15"] {margin-bottom:0.938em;}
[class*="margin"][class*="B10"] {margin-bottom:0.625em;}
[class*="margin"][class*="B05"] {margin-bottom:0.313em;}

/* Corner curve
---------------------------*/
.curveBR {-webkit-border-bottom-right-radius: 15px; -moz-border-radius-bottomright: 15px; border-bottom-right-radius: 15px;}

/* Colors
---------------------------*/

/*
.preterm
.breastfeeding
.bottlefeeding
.weaning
.toddlers
.productInfo
*/

.grey.bkgd {background-color:#efede8;}
.red.bkgd {background-color:#db1e27;}
.green.bkgd {background-color:#c4dfae;}
.blue.bkgd {background-color:#ade0ef;}
.purple.bkgd, .preterm.bkgd {background-color:#d3cae5;}
.peach.bkgd {background-color:#ffc99e;}
.aquaD.bkgd {background-color:#7ac7b8;}
.aquaM.bkgd {background-color:#b2e8df;}
.aquaL.bkgd {background-color:#c9f2eb;}
.white.bkgd {background-color:#fff;}

.grey.bkgd.hover:hover {background-color:#e9e9e9;}

.green.border {border-color:#c4dfae;}
.blue.border	{border-color:#ade0ef;}
.grey.border {border-color:#d7d2c6;}

.breastFeeding.border {border-top:5px #ade0ef solid;}
.bottleFeeding.border  {border-top:5px #c4dfae solid;}
.toddlers.border  {border-top:5px #ffc99d solid;}
.preterm.border  {border-top:5px #d3cae5 solid;}

.green.text {color:#c4dfae;}
.blue.text {color:#ade0ef;}
.darkGrey.text {color:#707271;}

/* Icons
---------------------------*/
[class*="icon-"] {display:inline-block; *display:inline; zoom:1; background-image:url('../images/iconSprite.png');}

.icon-home {height:20px; width:15px; background-position:0 0;}

.icon-grey-arrow-open {height:8px; width:14px; background-position:-64px 0;}
.icon-grey-arrow-closed {height:8px; width:14px; background-position:-49px 0;}
.icon-grey-arrow-next {height:14px; width:8px; background-position:-82px 0;} 
.icon-grey-arrow-prev {height:14px; width:8px; background-position:-91px 0;} 

.icon-open {height:9px; width:17px; background-position:-114px -11px;}
.icon-close {height:9px; width:17px; background-position:-114px 0;}

.icon-prev {height:12px; width:6px; background-position:-48px -17px;}
.icon-next {height:12px; width:6px; background-position:-57px -17px;}

.icon-x-white {height:11px; width:11px; background-position:-25px -55px;}

.icon-register {height:16px; width:11px; background-position:0 -32px;}
.icon-login {height:18px; width:18px; background-position:0 -55px;}

.icon-responsive-menu {height:23px; width:24px; background-position:-145px 0;}

.icon-poll {height:32px; width:38px; background-position:-44px -32px;}
.icon-speech {height:27px; width:35px; background-position:-93px -32px;}

.icon-greenTickCircle {height:45px; width:45px; background-position:-219px 0;}

.icon-pencil {height:14px; width:15px; background-position:0 -95px;}
.icon-comment {height:9px; width:10px; background-position:0 -80px;}
.icon-pointer {height:15px; width:11px; background-position:-25px -95px;}
.icon-calendar {height:14px; width:14px; background-position:-40px -95px;}
.icon-clock {height:16px; width:16px; background-position:-58px -95px;}

.icon-PDF {height:60px; width:50px; background-position:-313px 0;}
.icon-DOC {height:60px; width:50px; background-position:-377px 0;}
.icon-PDF-download {height:34px; width:30px; background-position:-313px -76px;}

.icon-star-default {height:12px; width:12px; background-position:-34px -119px;}
.icon-star {height:12px; width:12px; background-position:0 -119px;}
.icon-star-half {height:12px; width:12px; background-position:-16px -119px;}

.icon-heart {height:12px; width:12px; background-position:-52px -119px;}
.icon-speaker {height:13px; width:16px; background-position:-80px -95px;}
.icon-slides {height:14px; width:17px; background-position:-79px -119px;}

.icon-phone-large {height:25px; width:30px; background-position:-101px -95px;}

/* Buttons
---------------------------*/

/* Header
---------------------------*/
header#mainHeader {margin-bottom:40px;}
header#mainHeader .logo {top:2em; position:relative;}

header .adviceline {margin-top: 3.4em; overflow:hidden; font-style:normal;}
header .adviceline .image {width:22.67%; float:left;}
header .adviceline .text {width:71.66%; float:right;}
header .adviceline .text p {font-size:0.875em; line-height:1.125em; font-family:"open_sansregular", Verdana, sans-serif; font-weight:100; margin-bottom:7px; color:#666666;}
header .adviceline .text .tel {font-size:1.375em; font-family:"VAG_Rounded_Bold", Verdana, sans-serif; font-weight:500; text-decoration:none; color:#333333;}

header#mainHeader .accountBox {}
header#mainHeader .accountBox .proResources {display:block; font-size:1.125em; padding:0.9em; background-color:#c9cccb; color:#333333; overflow:hidden; position:relative;}
header#mainHeader .accountBox .proResources:hover {text-decoration:none;}
header#mainHeader .accountBox .proResources i {position:absolute; right:1.2em; top:50%; margin-top:-4px;}
header#mainHeader .accountBox.loggedIn .proResources {background-color:#b2e8df;}


header#mainHeader .accountBox ul {background-color:#fff; overflow:hidden; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-left-radius: 5px;}
header#mainHeader .accountBox ul li {width:50%; float:left;}
header#mainHeader .accountBox ul li a {padding:1.2em 1.8em; display:block; text-align:center; font-size:0.875em; font-family:"open_sansregular", Verdana, sans-serif; font-weight:100; font-style:normal;} 
header#mainHeader .accountBox ul li a span {display:block; position:relative;}

header#mainHeader .accountBox ul	.register {border-right:1px #f1efea solid;}
header#mainHeader .accountBox ul	.register span {padding-left:23px;}
header#mainHeader .accountBox ul	.login span {padding-left:30px;}

header#mainHeader .accountBox ul	[class*="icon-"] {position:absolute; left:0; top:50%;}
header#mainHeader .accountBox ul	.icon-register {margin-top:-8px;}
header#mainHeader .accountBox ul	.icon-login {margin-top:-9px;}

header#mainHeader .accountBox.loggedIn ul li.name {width:70%; border-right:1px #f1efea solid;}
header#mainHeader .accountBox.loggedIn ul li.logOut {width:30%;}
header#mainHeader .accountBox.loggedIn ul li a {font-size:12px; padding:1.2em 1em; text-align:center;}


header#mobileHeader .top {height:52px; width:100%; background-color:#fff;}
header#mobileHeader .logo {padding:20px;} 
header#mobileHeader .logo img {margin:0 auto; display:block;}


/* Navigation Trigger
---------------------------*/
#menuTrigger {position:absolute; top:0; right:0; padding:14px 20px 9px 10px; cursor:pointer;}

/* Navigation
---------------------------*/
nav#mainNav .topLevel > li {width:15.92%; float:left; min-height:1px; position:relative;}
nav#mainNav .topLevel > li.home {width:4.47%}
nav#mainNav .topLevel > li.home span {display:none;}

nav#mainNav ul li a {font-size:1.125em; color:#333333; display:block;}

nav#mainNav .topLevel > li > a {margin-left:5px; height:3.7em; padding:8% 12% 0 12%; /*padding-top:17px*/ background-color:#c9cccb; -webkit-border-top-right-radius: 7px; -moz-border-radius-topright: 7px; border-top-right-radius: 7px;}
nav#mainNav .topLevel > li a span {display:block; position:relative;}
nav#mainNav .topLevel > li a [class*="arrow"] {position:absolute; top:5px; right:0;}

nav#mainNav .topLevel > li.home {margin-left:0;}
nav#mainNav .topLevel > li.home a {padding:25% 0 0 33%; margin-left:0;}
nav#mainNav .topLevel > li > a:hover {text-decoration:none;}

nav#mainNav .topLevel > li.home a:hover,
nav#mainNav .topLevel > li.home.active a {background-color:#7ac7b8;}

nav#mainNav .topLevel > li.preterm a:hover,
nav#mainNav .topLevel > li.preterm:hover a,
nav#mainNav .topLevel > li.preterm.active a,
nav#mainNav .topLevel > li.preterm ul {background-color:#d3cae5;}

nav#mainNav .topLevel > li.breastfeeding a:hover,
nav#mainNav .topLevel > li.breastfeeding:hover a,
nav#mainNav .topLevel > li.breastfeeding.active a,
nav#mainNav .topLevel > li.breastfeeding ul {background-color:#ade1ef;}

nav#mainNav .topLevel > li.bottlefeeding a:hover,
nav#mainNav .topLevel > li.bottlefeeding:hover a,
nav#mainNav .topLevel > li.bottlefeeding.active a,
nav#mainNav .topLevel > li.bottlefeeding ul {background-color:#c4deae;}

nav#mainNav .topLevel > li.weaning a:hover,
nav#mainNav .topLevel > li.weaning:hover a,
nav#mainNav .topLevel > li.weaning.active a,
nav#mainNav .topLevel > li.weaning ul  {background-color:#fed942;}

nav#mainNav .topLevel > li.toddlers a:hover,
nav#mainNav .topLevel > li.toddlers:hover a,
nav#mainNav .topLevel > li.toddlers.active a,
nav#mainNav .topLevel > li.toddlers ul {background-color:#ffc99d;}

nav#mainNav .topLevel > li.productInfo a:hover,
nav#mainNav .topLevel > li.productInfo:hover a,
nav#mainNav .topLevel > li.productInfo.active a,
nav#mainNav .topLevel > li.productInfo ul {background-color:#ffd0e0;}

nav#mainNav .topLevel li > ul {display:none; top:-9999px;}
nav#mainNav .topLevel li:hover > ul {display:block; position:absolute; top:100%; left:5px; width: 197.5%; padding:1.8em 1.4em; z-index:999;}
nav#mainNav .topLevel li:hover > ul.rightAligned {right:0; left:auto;}
nav#mainNav .topLevel li ul li {margin-bottom:4%;}
nav#mainNav .topLevel li ul li.last {margin-bottom:0;}


/* Footer
---------------------------*/
footer {line-height:1.500em; padding:4% 0; font-family:"open_sansregular", Verdana, sans-serif; font-weight:100; font-style:normal;}
footer .copy, footer .legal, footer li {font-size:13px;}
footer, footer a {color:#707271;}
footer ul li {margin-bottom:3px;}

footer .copy {margin-bottom:3em; overflow:hidden;}
footer .copy .image {width:15.83%; float:left;}
footer .copy .text {width:78.89%; float:right;}


/* = Modules
===================================================================*/
.module {padding-top:3.125em; padding-bottom:3.125em;}
.module.first {padding-top:4.750em}
.module.last {padding-bottom:4.750em}

.miniNote {font-size:0.750em; line-height: 1.5em; color:#707271; font-family:"open_sansregular", Verdana, sans-serif; font-weight:100;}
.titleIcon {display:block; padding-left:0.8em; margin-bottom:1em;}

/* Hero
---------------------------*/
#hero {}

#hero > .row > * {padding:2em 60px; margin:0 -60px; position:relative; overflow:hidden;}
#hero.withImage > .row > * {min-height:16em;}
#hero .image {position:absolute; right:0; top:0; bottom:0;}

#hero h1, #hero h2 {font-size:2.250em; line-height:1.15em; margin: 0 0 0.28em 0; font-family:"VAG_Rounded_Bold", Verdana, sans-serif; font-weight:400; font-style:normal;}
#hero p {font-size:1.125em; line-height:1.500em;}

#hero.register .row > * {background-color:#7ac7b8;}
#hero.register img {max-width:none;}
#hero.register .text {color:#fff;}
#hero.register .text * {margin-right:0.8em;}
#hero.register .text p {font-size:1.1em; line-height:1.38em; margin-bottom:0.8em; }

/* Breadcrumbs 
---------------------------*/
.breadCrumbs {overflow:hidden; margin-bottom:2em;}
.breadCrumbs li {float:left; margin-right: 6px; font-size:12px; font-family:"open_sansregular", Verdana, sans-serif; font-weight:100;}
.breadCrumbs li:before {content: '-'; margin-right: 6px;}
.breadCrumbs li:first-child:before {content:''; margin-right:0;}
.breadCrumbs li a {text-decoration:underline; color:#333333;}

/* Excerpt
---------------------------*/
.excerpt {position:relative; background-color:#fff; overflow:hidden; }

.excerpt h3, .excerpt h4 {margin-bottom:0;}
.excerpt h3 a, .excerpt h4 a {color:#333333;}
.excerpt h3 a:hover, .excerpt h4 a:hover {color:#646766;}

.excerpt, .excerpt.event .details  {-webkit-border-bottom-right-radius: 15px; -moz-border-radius-bottomright: 15px; border-bottom-right-radius: 15px;}

.excerpt.article, .excerpt.event {min-height: 12.8em; /*margin-bottom:2.2em*/}
.excerpt.resource {min-height: 8em; /*margin-bottom:1.9em; */}
.excerpt.article, .excerpt.resource {padding-left:8em;}
.excerpt.event {padding-right:8em;}

.excerpt .image {width:8em; position:absolute; left:0; top:0; bottom:0;}
.excerpt .text {padding:1em 1.1em 2.5em 1.1em;}
.excerpt.resource .text {padding:1em 1.1em 1.1em 1.1em;}
.excerpt .text h6 {margin-top:-0.5em}
.excerpt .metaData {padding:0 1.1em 1.1em 1.1em; position:absolute; bottom:0; right:0; left:8em;}
.excerpt .metaData li {float:left; font-size:0.750em; line-height:9px; padding-top:2px; color:#7a7b7a;}
.excerpt .metaData li.comments {border-left:1px #969897 solid; padding-left:9px; margin-left:9px;}
.excerpt .metaData i {margin:0 5px 0 0;}

.excerpt.event {border-top:4px #d7d2c6 solid;}
.excerpt.event .text {padding-bottom:1.1em;}
.excerpt.event .text p {margin-top:0.3em;}
.excerpt.event .text p small {font-size:smaller;}
.excerpt.event .text a {color:#333333;}
.excerpt.event a:hover {color:#e72e39;}
.excerpt.event .details {width:8em; position:absolute; right:0; top:0; bottom:0; padding:1.1em; background-color:#ebe7dd;}
.excerpt.event .details p {font-size:0.8em; line-height:1.6em; font-family:"open_sansregular", Verdana, sans-serif;}

.excerpt.event .eventData {color:#333333; font-size:0.875em;}

.excerpt.event .eventData li {float:left; margin-right:1.6em; margin-bottom:0.5em;}
.excerpt.event .eventData li.last {margin-right:0;}
.excerpt.event .eventData i {position:relative; margin-right:0.5em;}
.excerpt.event .eventData .where i {top:2px;}
.excerpt.event .eventData .when i {top:2px;}
.excerpt.event .eventData .time i {top:3px;}

.excerpt.event.full {padding-right:10em;}
.excerpt.event.full .details {width:10em;}
.excerpt.event.full:hover {background-color:#f5f5f5;}
.excerpt.event.full .text a {min-height:7.375em; display:block;}
.excerpt.event.full {min-height:9em;}

/* Podcasts
---------------------------*/
.podcasts {background-color:#f5f5f5;}
.podcasts ul li {margin-bottom:1.125em;}
.podcasts ul li a {display:block; position:relative; font-size:1.375em; padding-left:1.4em; color:#333333;}
.podcasts ul li a:hover {color:#e4101c;}
.podcasts ul li a i {position:absolute; left:0; top:5px;}

/* Profile boxes
---------------------------*/
.profile {max-width:250px; width:100%;}
.profile strong {display:block;}
.profile .image, .profile .text {float:left;}
.profile .image {width:33.5%; margin-right:7%;}
.profile .text {width:59.5%; font-size:0.875em; line-height:1.3em; font-family:"open_sansregular", Verdana, sans-serif;}

/* HoursLogged
---------------------------*/
.hoursLogged {margin-bottom:32px;}
.hoursLogged p {margin-bottom:12px; font-size:1.125em;}
.hoursLogged .progressContainer {background-color:#f1efea; height:0.625em; position:relative;}
.hoursLogged .progressContainer .progress {position:absolute; left:0; top:0; bottom:0; background-color:#72b600;}

/* Learning Modules Listing
---------------------------*/
ul.learningModules {border-top:1px #eaeaea solid;}
ul.learningModules li {border-bottom:1px #eaeaea solid; position:relative;}
ul.learningModules li a {display:block; padding:1.5em 70px 1.5em 10px; min-height:60px; color:#333333;}
ul.learningModules li a:hover {background-color:#f5f5f5; color:#e4101c;}
ul.learningModules li h4 {font-family:"VAG_Rounded_Bold", Verdana, sans-serif; font-weight:400; font-style:normal;}
ul.learningModules li p {font-size:1.125em;}
ul.learningModules li i {position:absolute; right:10px; top:1.5em; }

/* Saved Articles
---------------------------*/
ul.savedArticles li {border-bottom:1px #eaeaea solid; position:relative;}
ul.savedArticles li a {display:block; padding:1em 10px 1em 85px; min-height:90px; color:#333333;}
ul.savedArticles li a:hover {background-color:#f5f5f5; color:#e4101c;}
ul.savedArticles li p {font-size:1.125em;}
ul.savedArticles li i {position:absolute; left:10px; top:1em; }

/* E-modules
---------------------------*/
#e-modules {}
#e-modules > .row {position:relative;}

#e-modules h2 {margin-bottom:0;}

#e-modules .trigger {position:absolute; top:1.8em; right:2.5em; color:#333333;}
#e-modules .trigger i {margin-left:0.313em;}
#e-modules .trigger:hover {color:#e21820; text-decoration:none;}

.e-modules {display:none; padding-top:1.875em;}
.e-modules.open {display:block;}

.e-modules p {font-size:1.125em;}

.e-module .progressContainer {height:1.750em; position:relative; background-color:#fff;}
.e-module .progressContainer, .e-module .progressContainer .progress {-webkit-border-radius: 70px; -moz-border-radius: 70px; border-radius: 70px;}
.e-module .progressContainer .progress {position:absolute; top:0; left:0; bottom:0; background-color:#b3cf6e; line-height:1.750em;}
.e-module .progressContainer .progress .number {font-size:0.875em; position:absolute; right:1em;}

#e-module > .row {position:relative;}
#e-module .close.btn {position:absolute; top:0; right:0; padding:0.8em 1.2em; font-size:0.8em; font-family:"open_sansregular", Verdana, sans-serif; font-weight:100; color:#fff;}
#e-module .close.btn i {position:relative; margin-left:6px; top:1px;}

#e-module .pagination {width:100%; max-width:585px; margin:2.875em auto 1.875em auto; overflow:hidden;}
#e-module .pagination > div {float:left; height:1.875em; line-height:1.875em}
#e-module .pagination .prev,
#e-module .pagination .next {width:14%;}

#e-module .pagination .progressContainer {position:relative; margin:0 2%; width:68%; background-color:#fff;}
#e-module .pagination .progressContainer, #e-module .pagination .progressContainer .progress {-webkit-border-radius: 70px; -moz-border-radius: 70px; border-radius: 70px;}
#e-module .pagination .progressContainer .progress {background-color:#b3cf6e; position:absolute; top:0; bottom:0; left:0; font-size:0.875em;}
#e-module .pagination .progressContainer .progress .number {position:absolute; left:0; right:0; text-align:center;}


/* = Entry
===================================================================*/
.entry p {font-family:"open_sansregular", Verdana, sans-serif; font-weight:100;}

.entry h1 {}
.entry h2 {}
.entry h3 {font-family:"VAG_Rounded_Bold", Verdana, sans-serif; font-weight:400; margin-bottom:1.2em;}
.entry h4 {}
.entry h5 {}
.entry h6 {}

.entry p {margin-bottom:1.5em; }
.entry p:last-child {margin-bottom:0;}

.entry ul {margin:0 0 1.875em 1.2em;}
.entry ul li {margin-bottom:0.6em; list-style:disc;}

.entry blockquote.pull-left {margin:0 1.375em 1.375em 0;}
.entry blockquote.pull-right {margin:0 0 1.375em 1.375em ;}

.entry blockquote {padding:1.688em 2.188em; -webkit-border-bottom-right-radius: 15px; -moz-border-radius-bottomright: 15px; border-bottom-right-radius: 15px;}
.entry blockquote p {margin-bottom:0; font-size:1.375em; line-height:1.5em; font-family:"VAG_Rounded_Light", Verdana, sans-serif;}

.entry.preterm blockquote {background-color:#d3cae5; width:17.813em;}
.entry.breastfeeding blockquote {}
.entry.bottlefeeding blockquote {}
.entry.weaning blockquote {}
.entry.toddlers blockquote {}
.entry.productInfo blockquote {}

.entry strong, .entry .intro {font-family:"open_sansbold", Verdana, sans-serif; font-weight:400;}

/* Article Data
---------------------------*/
.articleMeta {margin-bottom:2em;}
.articleMeta ul li {float:left; margin-right:1.250em; padding-right:1.250em; border-right:1px #cccccc solid;}
.articleMeta ul li.last {margin-left:0; padding-left:0; border-right:0;}
.articleMeta ul li p {font-size:0.750em; line-height:1.375em; font-family:"open_sansregular", Verdana, sans-serif; font-weight:100; font-style:normal;}

/* Newsletter Signup
----------------------------------- */
#newsLetter {border-top:5px #d7d2c6 solid;}
#newsLetter h3 {margin-bottom:1em;}
#newsLetter .email {margin-bottom:0.3em;}
#newsLetter .privacy {font-size:12px; font-family:"open_sansregular", Verdana, sans-serif;}

/* Save Article
---------------------------*/
.saveArticle i {position:relative; top:1px; margin-right:0.313em;}

/* Star rating
---------------------------*/
.starRating [class*="icon-star"] {margin-right:0.250em;}

/* Comments
---------------------------*/
#comments {}

#comments .header {padding-top:3.438em; padding-bottom:3.438em;}
#comments .header h2 {margin:0;}

#comments.preterm .header {background-color:#d3cae5;}
#comments.breastfeeding .header {background-color:#ade1ef;}
#comments.bottlefeeding .header {background-color:#c4deae;}
#comments.weaning .header {background-color:#fed942;}
#comments.toddlers .header {background-color:#ffc99d;}
/*#comments.productInfo .header {}*/

#comments .body {padding-top:2.813em; padding-bottom:2.813em; background-color:#f9f9f9; border-bottom:1px #f0f0f0 solid;}

#comments .number {display:block; height:40px; width:40px;font-size:1.750em; line-height:1.4em; text-align:center; color:#fff; margin-bottom:0.6em; -webkit-border-radius: 70px; -moz-border-radius: 70px; border-radius: 70px;}

#comments.preterm .number {background-color:#624e76;}
#comments.breastfeeding .number {background-color:#;}
#comments.bottlefeeding .number {background-color:#;}
#comments.weaning .number {background-color:#;}
#comments.toddlers .number {background-color:#;}

#comments ul.comments {font-family:"open_sansregular", Verdana, sans-serif; font-weight:100; margin-bottom:3em;}
#comments ul.comments li {margin-bottom:2.3em;}
#comments ul.comments .date {color:#666666; font-size:0.750em; margin-bottom:0.625em;}
#comments ul.comments .comment {font-size:0.875em;}

#comments .postComment h2 {margin-bottom:1em; line-height:0.6em;}
#comments .postComment h2 small {margin-left:1em; font-size:0.571em;}
#comments .postComment textarea {height:15em; width:100%; margin-bottom:2em; border:1px #cacaca solid;}
#comments .postComment .btn {font-family:"VAG_Rounded_Light", Verdana, sans-serif;}

/*FAQs
---------------------------*/
#faqsFilters .header {background-color:#dddede; padding: 1em 2.500em;}
#faqsFilters .header label {float:left; width:5em; text-transform:uppercase;}
#faqsFilters .header select {margin-bottom:0; font-size:11px; min-width:8em;}
#faqsFilters .header .pageOf {text-align:right;}
#faqsFilters .header .pageOf, #faqsFilters .header label {font-size:11px; line-height:1.1em; padding-top:6px; font-family:"open_sansbold", Verdana, sans-serif;}
#faqsFilters .header .pageOf em {font-family:"open_sansregular", Verdana, sans-serif; font-style:normal;}
#faqsFilters .pagination {float:right;}

#faqsFilters .filters {background-color:#f5f5f5; padding: 1em 2.500em;}
#faqsFilters .filters ul li {float:left; margin-right:1.438em;}
#faqsFilters .filters label {display:inline; margin-left:5px; font-size:12px; font-family:"open_sansregular", Verdana, sans-serif; font-style:normal; text-transform:none;}

.faq .open {margin-top:1.8em;}
.faq .open i, .faq .close i {margin-left:1em;}


/*Pagination
----------------------------------- */
ul.pagination { border:0; margin:0 auto; padding:0; text-align:center;}
ul.pagination li {display: inline-block; *display:inline;  zoom:1; line-height:30px; margin:0 0.15em;}
ul.pagination a {display:block; }
ul.pagination .number {display:block; font-size:12px; font-family:"VAG_Rounded_Bold", Verdana, sans-serif; font-weight:400; font-style:normal; text-decoration:none; -webkit-border-radius: 70px; -moz-border-radius: 70px; border-radius: 70px; height:21px; width:21px; line-height:23px; background-color:#666666; color:#fff;}
ul.pagination .active .number, ul.pagination .number:hover {background-color:#fff; color:#989898;}

ul.pagination .next {margin-left:0.6em;}
ul.pagination .prev {margin-right:0.6em;}
ul.pagination .next a,  ul.pagination .prev a {font-size:11px; line-height:1.1em; padding-top:0.5em; font-family:"open_sansbold", Verdana, sans-serif; text-transform:uppercase; color:#666666;}
ul.pagination .next a i {margin-left:0.625em;}
ul.pagination .prev a i {margin-right:0.625em;}
ul.pagination .next a i, ul.pagination .prev a i {position:relative; top:2px;}
ul.pagination .next a:hover,  ul.pagination .prev a:hover {color:#e62f39;}

/* Healthcare support
----------------------------------- */
#healthCareSupport {margin-bottom:3.5em;}
#healthCareSupport .image {border-bottom:5px #d1ccbe solid; margin-bottom:1em;}
#healthCareSupport h6, #healthCareSupport h3 {margin-bottom:0.5em;}
#healthCareSupport p {font-size:0.875em; line-height:1.5em; font-family:"open_sansregular", Verdana, sans-serif; font-style:normal;}
#healthCareSupport ul {margin-top:1.563em;}
#healthCareSupport ul li {padding-left:43px; position:relative; margin-bottom:1em;}
#healthCareSupport ul li i {position:absolute; left:0; top:5px;}
#healthCareSupport ul li .tel {font-size:1.375em; line-height:1em; font-family:"VAG_Rounded_Bold", Verdana, sans-serif; font-weight:400; font-style:normal;}

